@font-face {
  font-family: Basalt;
  src: url("../font/Basalt.ttf") format("TrueType");
}

@font-face {
  font-family: Legend;
  src: url("../font/Legend.ttf") format("TrueType");
}



html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden !important;
}


body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/3.png");
  background-size: cover;
  color: rgb(255, 255, 255) !important;



}

#body1 {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/14.jpg");
  background-size: cover;
  color: rgb(255, 255, 255) !important;
 

}

#body2 {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/14.jpg");
  background-size: cover;
  color: rgb(255, 255, 255) !important;

}

h1 {
  font-family: Basalt !important;
  color: rgb(255, 255, 255) !important;
  margin-left: 15px !important;
}

#startstop,
#reset {
  display: none !important;

}

#healthBar {
  transition: width 1s;
}

/* Jauge de vie du hero */
#healthBar {
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.bar {
  background: rgb(2, 250, 76);
  box-shadow: 0 5px 50px 0 rgb(2, 250, 76) inset, 0 5px 150px 0 rgb(2, 250, 76),
    0 5px 90px 0 rgb(2, 250, 76) inset, 0 5px 25px 0 rgb(2, 250, 76);
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .5s linear;
}


#modalDeathHero {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalDeathHeroTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalDeathHeroText {
  font-size: 20px;

}

#modalDeathEnnemy {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 12em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalDeathEnnemyTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalDeathEnnemyText {
  font-size: 20px;
}

#modalVictory {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalVictoryTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalVictoryText {
  font-size: 20px;
}

#victoryTime {
  font-weight: bold;
}

#modalGameOver {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}



#modalProgress {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: auto;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalProgressTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalProgressText {
  font-size: 20px;

}

#modalProgressBadge1 {
  height : 80px;
  width : auto;
}

#modalProgressBadge2 {
  height : 80px;
  width : auto;
}

#modalProgressBadge3 {
  height : 80px;
  width : auto;
}

#buttons {
  background: transparent !important;
}

#modalGameOverTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalGameOverText {
  font-size: 20px;
}

/* Jauge de vie Ennemi */
#badguyHealthBar {
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  margin-top: 20px;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.badguyBar {
  background: rgb(255, 0, 0);
  box-shadow: 0 5px 50px 0 rgb(255, 0, 0) inset, 0 5px 150px 0 rgb(255, 0, 0),
    0 5px 90px 0 rgb(255, 0, 0) inset, 0 5px 25px 0 rgb(255, 0, 0);
  border-radius: 10px;
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .5s linear;
}

button {
  color: rgb(255, 255, 255) !important;
  background: rgb(17, 10, 31) !important;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: none;
}


#chronoForm,
input {
  color: rgb(255, 255, 255);
  background: rgb(17, 10, 31) !important;
  border: none;

}


.navbar {
  background: rgb(17, 10, 31) !important;
}

.footer {
  left: 0;
  bottom: 0;
  background: rgb(17, 10, 31) !important;
}

.fa-heart {
  display: none;
  color: red;
  font-size: 18px;

}

.hero {
  background: rgba(17, 10, 31, 0.822) !important;
  border-radius: 5px;
  height: 160px;
}

.badguy {
  background: rgba(17, 10, 31, 0.822) !important;
  height: 160px;
  border-radius: 5px;

}

@media (max-width: 760px) {
  .hero {
    margin-left: 0;
    width: auto;
    border-radius: 0 5px 5px 0;
  }

  .badguy {
    margin-right: 0;
    /* position : absolute !important;
    right : 0; */
    margin-top: 50px !important;
    float: right !important;
    width: 65%;
    margin-left: 35%;
  }
}

.jumbotron {
  background: rgba(17, 10, 31, 0.808) !important;
  margin: 110px;
  border-radius: 10px;
}

@media (max-width: 760px) {
  .jumbotron {
    background: rgba(17, 10, 31, 0.781) !important;
    margin: 30px;
    border-radius: 10px;
  }
}

#announcements {
  background: rgb(17, 10, 31, 0.6) !important;
  color: white;
  height: 250px;
  overflow-x: hidden !important;
  width: 500px;
  border-radius: 5px;
  border: 1px black solid;
  line-height: 150%;
  margin-bottom: 15px !important;
}

@media (max-width:760px) {
  #announcements {
    display: none !important;
  }
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background: rgb(17, 10, 31);
}

@media (max-width: 760px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

#heroName {
  font-size: 36px;
}

.choice {
  margin-bottom: 20px !important;
}

#badGuyName {
  font-size: 28px;
}

button:disabled,
button[disabled] {
  background-color: rgb(17, 10, 31, 0.4) !important;
}

.badguyImg {
  height: 140px;
  width: auto;
  float: left;
  margin-right: -100%;
  margin-left: -8%;
  margin-top: -20%;
}

.heroImg {
  height: 140px;
  width: auto;
  float: right;
  margin-left: -100%;
  margin-right: -8%;
  margin-top: -20%;
}

@media (max-width:760px) {
  .heroImg {
    height: 140px;
    width: auto;
    float: right;
    margin-left: -100%;
    margin-top: -20%;
  }
}

.imgcard{
  height:150px !important;
}


section .section-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: rgba(17, 10, 31, 0.774) !important;
  }

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(17, 10, 31, 0.747) !important;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(19, 19, 19);
    -moz-box-shadow: 5px 7px 9px -4px rgb(20, 20, 20);
    box-shadow: 5px 7px 9px -4px rgb(10, 10, 10);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
  
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #ffffff !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card{
  background: rgba(17, 10, 31, 0.712) !important;
}
