@font-face {
    font-family: Basalt;
    src: url("../font/Basalt.ttf") format("TrueType");
}

@font-face {
    font-family: Legend;
    src: url("../font/Legend.ttf") format("TrueType");
}



html {
    padding: 0;
    margin: 0;
    width: 100%;
}


body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden !important;
    font-family: legend !important;
    background-image: url("../img/12.jpg");
    background-size: cover;
    color: rgb(255, 255, 255) !important;


}

h1 {
    font-family: Basalt !important;
    color: rgb(255, 255, 255) !important;
    margin-left: 15px !important;
}

#startstop,
#reset {
    display: none !important;

}

#healthBar {
    transition: width 1s;
}

/* Jauge de vie du hero */
#healthBar {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
    position: relative;
}

.bar {
    background: rgb(2, 250, 76);
    box-shadow: 0 5px 50px 0 rgb(2, 250, 76) inset, 0 5px 150px 0 rgb(2, 250, 76),
        0 5px 90px 0 rgb(2, 250, 76) inset, 0 5px 25px 0 rgb(2, 250, 76);
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
}


#modalDeathHero {
    z-index: 7;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    background-color: red;
    color: pink;
    display: none;
}

#modalDeathEnnemy {
    z-index: 7;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    background-color: red;
    color: pink;
    display: none;
}

#modalVictory {
    z-index: 7;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    /*set to a negative number 1/2 of your width*/
    background-color: red;
    color: pink;
    display: none;
}

/* Jauge de vie Ennemi */
#badguyHealthBar {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    border-radius: 5px;
}

.badguyBar {
    background: rgb(255, 0, 0);
    box-shadow: 0 5px 50px 0 rgb(255, 0, 0) inset, 0 5px 150px 0 rgb(255, 0, 0),
        0 5px 90px 0 rgb(255, 0, 0) inset, 0 5px 25px 0 rgb(255, 0, 0);
    border-radius: 10px;
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
}

button {
    color: #000 !important;
    background-color: rgb(224, 223, 223);
    border-style: inset;
    border-radius: 5px;
}


#chronoForm {
    color: black;
}