@font-face {
  font-family: Basalt;
  src: url("../font/Basalt.ttf") format("TrueType");
}

@font-face {
  font-family: Legend;
  src: url("../font/Legend.ttf") format("TrueType");
}



html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden !important;
}


body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/3.png");
  background-size: cover;
  color: rgb(255, 255, 255) !important;


}

#body1 {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  color: rgb(255, 255, 255) !important;
  background: rgb(17, 10, 31) !important;
}

h1 {
  font-family: Basalt !important;
  color: rgb(255, 255, 255) !important;
  margin-left: 15px !important;
}

#startstop,
#reset {
  display: none !important;

}

#healthBar {
  transition: width 1s;
}

/* Jauge de vie du hero */
#healthBar {
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  border-radius: 5px;
  position: relative;
}

.bar {
  background: rgb(2, 250, 76);
  box-shadow: 0 5px 50px 0 rgb(2, 250, 76) inset, 0 5px 150px 0 rgb(2, 250, 76),
    0 5px 90px 0 rgb(2, 250, 76) inset, 0 5px 25px 0 rgb(2, 250, 76);
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .5s linear;
}


#modalDeathHero {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalDeathHeroTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalDeathHeroText {
  font-size: 20px;

}

#modalDeathEnnemy {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 12em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalDeathEnnemyTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalDeathEnnemyText {
  font-size: 20px;
}

#modalVictory {
  z-index: 7;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 14em;
  margin-top: -9em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
  background-color: white;
  color: black;
  display: none;
  border: 1px black solid;
  border-radius: 5px;
}

#modalVictoryTitle {
  font-family: Basalt;
  font-size: 36px;
}

#modalVictoryText {
  font-size: 20px;
}

#victoryTime {
  font-weight: bold;
}

/* Jauge de vie Ennemi */
#badguyHealthBar {
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

.badguyBar {
  background: rgb(255, 0, 0);
  box-shadow: 0 5px 50px 0 rgb(255, 0, 0) inset, 0 5px 150px 0 rgb(255, 0, 0),
    0 5px 90px 0 rgb(255, 0, 0) inset, 0 5px 25px 0 rgb(255, 0, 0);
  border-radius: 10px;
  width: 100%;
  height: 10px;
  position: relative;
  transition: width .5s linear;
}

button {
  color: rgb(255, 255, 255) !important;
  background: rgb(17, 10, 31) !important;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border: none;
}


#chronoForm,
input {
  color: rgb(255, 255, 255);
  background: rgb(17, 10, 31) !important;
  border: none;

}


.navbar {
  background: rgb(17, 10, 31) !important;
}

.footer {
  background: rgb(17, 10, 31) !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}

.fa-heart {
  display: none;
  color: red;
  font-size: 18px;

}

.jumbotron {
  background: transparent !important;
}

.hero {
  background: rgba(17, 10, 31, 0.822) !important;
  margin: 20px;
  border-radius: 5px;
  height: 180px;
}

.badguy {
  background: rgba(17, 10, 31, 0.822) !important;
  margin: 20px;
  border-radius: 5px;
  height: 180px;
  margin-top: 40px;
  position: absolute !important;
  right: 0;
  margin-bottom: 150px !important;

}

@media (max-width: 760px) {
  .hero {
    margin-left: 0;
    padding-left: 15% !important;
    width: auto;
    border-radius: 0 5px 5px 0;
  }

  .badguy {
    margin-right: 0;
    border-radius: 5px 0 0 5px;
    margin-bottom: 350px !important;
    position: fixed;
  }
}

.card {
  background: transparent !important;
}


#announcements {
  background: rgb(17, 10, 31) !important;
  color: white;
  height: 250px;
  overflow-x: hidden !important;
  width: 500px;
  border-radius: 5px;
  border: 1px black solid;
  line-height: 150%;

}