html, body{
    padding:0;
    margin:0;
    width: 100%;
    overflow-x: hidden !important;
}

#startstop, #reset {
    display : none !important;

}

#healthBar {
    transition: width 1s;
}

/* Jauge de vie du hero */ 
#healthBar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  .bar {
    background: rgb(56, 240, 111);
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
  }

  /* Jauge de vie Ennemi */ 
  #badguyHealthBar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .badguyBar {
    background: rgb(184, 31, 31);
    width: 100%;
    height: 10px;
    position: relative;
    transition: width .5s linear;
  }
  




  #modalDeathHero {
    z-index: 7;
    text-align : center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color : red;
    color : pink;
    display : none;
  }

  #modalDeathEnnemy {
    z-index: 7;
    text-align : center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color : red;
    color : pink;
    display : none;
  }